<header class="site-header sticky" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <!-- {{ site.title | escape }} -->
      <img style="height: 1.8em;" src="/assets/img/ouruhk_logo_1.png" >
    </a>

    {%- if page_paths -%}
      <nav class="site-nav sticky">
        <div class="trigger">
          <a class="page-link" style="cursor: pointer; font-size: 25px;" onclick="openNav()">            
            <i class="fa fa-bars"></i>
          </a>          
        </div>

        <div id="mySidenav" class="sidenav">
          <div class="header-sidenav">
            <a>歌單</a>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          </div>
          <div class="body-sidenav">
            {%- for song in site.pages -%}
              {%- if song.title and song.categories == 'Fanchant' -%}
            <a class="" href="{{ song.url | relative_url }}">{{ song.title | escape }}</a>
              {%- endif -%}
            {%- endfor -%}          
          </div>          
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
