---
layout: default
---
<style>
  .line{
    display: block;
  }
  .shout{
    color: rgb(255, 51, 0);
  }
  .sing{
    color: rgb(38, 168, 219);
  }
  .normal{
    
  }
</style>
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
      <a class="post-title p-name" style="float: right;" href="{{ page.youtube_url | escape }}">
        <!-- <i class="fa fa-youtube-play"></i> -->
        <img style="height: 1em;" src="/assets/img/youtube_icon.png" >
      </a>
    </h1>
    {%- if page.youtube_embed -%}
    <div class="youtube_embed_container">
      {{ page.youtube_embed }}
    </div>    
    {%- endif -%}
    <p class="post-meta">
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
